.status-bar {
  padding: 5px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.status-bar__column:first-child span {
  margin-right: 5px;
}

.status-bar__column:nth-child(2) {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
